name: GitHub Readme YouTube Cards
on:
  schedule:
    # Runs once a week on Sundays at midnight UTC
    - cron: "0 0 * * 0"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: DenverCoder1/github-readme-youtube-cards@main
        with:
          channel_id: UCuj1_b4QHEycQPShFTxI_-w
          max_videos: 1
          card_width: 350
